.form__button.form__button_active {
  background-color: #2f71e5;
  color: white;
  transition: all .2s ease-in-out;
}

.form__button.form__button_active:hover {
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  background-color: #347eff;
}

.form__button.form__button_active:active {
  background-color: #2a65cc;
}
