@import url('_dark_closed/header__toggle_dark_closed.css');
@import url('_dark_opened/header__toggle_dark_opened.css');
@import url('_light_closed/header__toggle_light_closed.css');
@import url('_light_opened/header__toggle_light_opened.css');

.header__toggle {
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  outline: none;
  z-index: 12;
}

@media (max-width: 767px) {
  .header__toggle {
    display: inline;
  }
}
