.article-list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  justify-content: center;
}

@media (max-width: 1000px) {
  .article-list {
    grid-gap: 10px;
  }
}

@media (max-width: 767px) {
  .article-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .article-list {
    grid-template-columns: 1fr;
  }
}
