@import url("./__nav/header__nav.css");
@import url("./__nav-links/header__nav-links.css");
@import url("./__logo/header__logo.css");
@import url("./__nav-link/header__nav-link.css");
@import url("./__button/header__button.css");
@import url("./__label/header__label.css");
@import url("./__toggle/header__toggle.css");
@import url("./__nav-item/header__nav-item.css");
@import url("./__container/header__container.css");
@import url("./__span/header__span.css");

.header {
  border-bottom: 1px solid #c4c4c4;
  padding: 18px 0 12px 0;
  position: relative;
}

@media (max-width: 1100px) {
  .header {
    padding: 16px 0 11px 0;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 16px 0 15px 0;
  }
}
