.author__title {
  font: normal normal 40px/46px Roboto-Slab, Arial, sans-serif;
  color: #1a1b22;
  margin: 0 0 24px 0;
}
@media (max-width: 1279px) {
  .author__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 7px 0;
  }
}

@media (max-width: 767px) {
  .author__title {
    margin: 0 0 13px 0;
  }
}
